# Logs & Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Production Build Output
dist
dist-ssr

# Environment & Secret Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.secret.json
*credentials*.json
config.local.json

# Editor & OS Artifacts
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Cache
*.local
*.tsbuildinfo
.eslintcache
.temp
tmp/
